<?xml version="1.0"?>
<!-- TurtleBot3 Manipulation -->
<robot name="diffbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include TurtleBot3 Waffle Pi urdf macro -->
  <xacro:include filename="$(find diffbot_bringup)/urdf/turtlebot3_waffle_pi.urdf.xacro" />

  <!-- Include our ros2 control macro -->
  <xacro:include filename="$(find diffbot_bringup)/ros2_control/diffbot_control_system.ros2_control.xacro" />

  <xacro:turtlebot3_waffle_pi />

  <xacro:diffbot_control_system/>

</robot>
